{% extends "base.html" %}

{% block app_content %}
<h1>{{ thread[0]['sub'] }}</h1>
<table id="threadtable" class="table">
    <thead>
    <tr>
        <th>Message ID</th>
        <th>Date Sent</th>
        <th>Trip Code</th>
        <th>Poster</th>
        <th>Message</th>
    </tr>
    </thead>
    {% for post in thread %}
    <tr id="p{{ post['no'] }}">
        <td><a href="{{ url_for('main.get_doc_details', docid=post['docid']) }}">{{ post['no'] }}</a></td>
        <td>
            <time datetime="{{ post['datetime'] }}">{{ post['datetime'] }}</time>
        </td>
        <td>{{ post['trip'] }}</td>
        <td>{{ post['name'] }}</td>
        <td>{{ post['com'] | safe }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
