{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>{{ doc.styles }}</style>
{% endblock %}
{% block app_content %}
<ul>
    <li>docid: {{ doc['docid'] }}</li>
    <li>number of terms: {{ doc['num_terms'] }}</li>
    <li>term list: {% for term in doc['termlist'] %}{{ term.term.decode('utf-8') }}{% endfor %}</li>
    <li>docdata: {{ doc.json|safe}}</li>
</ul>
{% endblock %}
