{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Welcome to changine</h1>
<h2>database statistics</h2>
number of documents = {{ num_docs }}<br><br>
<a href="/search">Get started searching!</a><br><br>
This database was made possible by the <a href="https://zenodo.org/record/3606810">data</a> collected for the
<a href="https://arxiv.org/abs/2001.07487">Raiders of the Lost Kek</a> paper.<br>
It encompasses 3.5 years of 4chan /pol/ posts with approximately 3.3M threads and 135M messages.
{% endblock %}
