{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
Additional suggested terms: {% for term in suggested_terms %}{{ term+'\t' }} {% endfor %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Percent Match</th>
        <th>Date</th>
        <th>Preview</th>
        <th>Thread</th>
    </tr>
    </thead>
    {% for match in matches %}
    {# `match` is a MSetItem object #}
    <tr>
        <td>{{ match.rank + 1 }}</td>
        <td>{{ match.percent }}</td>
        <td>{{ match.date }}</td>
        <td>{{ match.snippet|safe }}</td>
        <td><a href="{{ url_for('main.op', thread=match.op) }}">{{ match.op }}</a></td>
    </tr>
    {% endfor %}
</table>
<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="{{ url_for('main.search', page=1, phrase=phrase, to=to, from_=from_) }}">First Page</a></li>
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
